@import url("utils/headerFooter.css");
.page-content {
  opacity: 0;
  width: 100%;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin-top: 15vh;
  width: 100vw;
  position: relative;
}
.main-section .hero-image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.main-section .hero-image::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}
.main-section .hero-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.main-section .hero-section-container {
  width: 65%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
.main-section .hero-section-container .hero-section .hero-text h1 {
  font-size: 5rem;
  font-weight: 900;
  text-transform: capitalize;
  color: white;
  text-shadow: 2px 2px black;
}
.main-section .hero-section-container .hero-section .hero-text p {
  font-weight: 500;
  font-size: 2rem;
  font-weight: 700;
  padding: 2.2rem 0;
  padding-left: 0.2rem;
  color: white;
  opacity: 0.9;
}
.main-section .hero-section-container .hero-section .hero-text button {
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 1.4rem 2rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #293df1;
  background-color: blue;
  opacity: 0.8;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.products-section {
  background-color: #d5fbfb;
  margin-top: 5rem;
  padding: 1rem 0;
}
.products-section h1 {
  text-align: center;
  font-size: 2.5rem;
  color: black;
  opacity: 0.9;
  font-weight: 900;
  text-transform: capitalize;
  position: relative;
  color: #293df1;
}
.products-section h1::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  border-radius: 0.4rem;
  background-color: #293df1;
  display: block;
  left: 48%;
  right: 48%;
  bottom: -12%;
}
.products-section .products-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products-section .products-parent .products-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.products-section .products-parent .products-container .container {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.products-section .products-parent .products-container .container .loans, .products-section .products-parent .products-container .container .savings {
  margin-top: 2rem;
  width: 30rem;
  padding: 1rem;
  position: relative;
}
.products-section .products-parent .products-container .container .loans .products-titles, .products-section .products-parent .products-container .container .savings .products-titles {
  color: black;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 2rem;
  padding-top: 2rem;
}
.products-section .products-parent .products-container .container .loans .products-paragraph, .products-section .products-parent .products-container .container .savings .products-paragraph {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  padding: 2rem 0;
  padding-bottom: 4rem;
}
.products-section .products-parent .products-container .container .loans .products-image, .products-section .products-parent .products-container .container .savings .products-image {
  width: 15rem;
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products-section .products-parent .products-container .container .loans .read-more-products, .products-section .products-parent .products-container .container .savings .read-more-products {
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  font-size: 1.5rem;
  color: #293df1;
  text-decoration: none;
  font-weight: 900;
}
.products-section .products-parent .products-container .container .loans .read-more-products::after, .products-section .products-parent .products-container .container .savings .read-more-products::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.1rem;
  display: block;
  background-color: #293df1;
}

.join-us-section {
  margin-top: 16rem;
  background-color: #293df1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-us-section .join-us-container {
  width: 90%;
  padding: 7rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.join-us-section .join-us-container .why-join-us {
  padding: 2rem;
}
.join-us-section .join-us-container .why-join-us h2 {
  font-weight: 900;
  color: white;
  font-size: 2.5rem;
  text-shadow: 1px 2px black;
  text-transform: capitalize;
  opacity: 0.9;
  padding: 2rem 0;
}
.join-us-section .join-us-container .why-join-us p {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  padding: 1rem 0;
  opacity: 0.8;
}
.join-us-section .join-us-container .join-us-image img {
  height: 44rem;
  width: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -15rem;
}

.achievement-section {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  padding: 10rem 0;
  justify-content: center;
}
.achievement-section .achievement-container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.achievement-section .achievement-container div {
  padding: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22rem;
  width: 22rem;
  border: 1px solid #293df1;
  margin: 1rem;
}
.achievement-section .achievement-container div .iconify {
  color: #293df1;
  font-size: 4rem;
}
.achievement-section .achievement-container div p {
  padding: 3rem 0;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (min-width: 1500px) {
  .main-section .hero-section-container {
    width: 50%;
  }
  .join-us-section .join-us-container {
    width: 70%;
  }
  .achievement-section .achievement-container {
    width: 70%;
  }
}
@media screen and (min-width: 1830px) {
  .main-section .hero-section-container {
    width: 45%;
  }
  .join-us-section .join-us-container {
    width: 60%;
  }
  .achievement-section .achievement-container {
    width: 60%;
  }
}
@media screen and (max-width: 1000px) {
  .main-section .hero-section-container .hero-section .hero-text h1 {
    font-size: 4.8rem;
  }
  .products-section .products-parent .products-container .container {
    width: 100%;
  }
  .join-us-section .join-us-container {
    width: 100%;
  }
  .join-us-section .join-us-container .join-us-image img {
    width: 40rem;
  }
  .achievement-section .achievement-container {
    width: 95%;
  }
}
@media screen and (max-width: 800px) {
  .main-section .hero-section-container .hero-section .hero-text h1 {
    font-size: 4.5rem;
  }
  .main-section .hero-section-container .hero-section .hero-text p {
    font-size: 1.8rem;
  }
  .join-us-section .join-us-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .join-us-section .join-us-container .why-join-us {
    padding: 2.5rem;
  }
  .join-us-section .join-us-container .join-us-image img {
    height: 100%;
    width: 100%;
    margin-bottom: unset;
  }
  .achievement-section .achievement-container {
    width: 90%;
    flex-wrap: wrap;
  }
  .achievement-section .achievement-container div {
    padding: 8rem;
  }
  .achievement-section .achievement-container div .iconify {
    color: #293df1;
    font-size: 3.5rem;
  }
  .achievement-section .achievement-container div p {
    font-size: 1.6rem;
  }
  .achievement-section .achievement-container .total-savings {
    height: 18rem;
    width: 18rem;
  }
  .achievement-section .achievement-container .monthly-contributions {
    height: 20rem;
    width: 20rem;
  }
  .achievement-section .achievement-container .average-contributions {
    height: 22rem;
    width: 22rem;
  }
  .page-footer .footer-container div {
    padding: 5rem;
  }
}
@media screen and (max-width: 700px) {
  .main-section .hero-section-container .hero-section .hero-text h1 {
    font-size: 3.8rem;
  }
  .main-section .hero-section-container .hero-section .hero-text p {
    font-size: 1.6rem;
  }
  .main-section .hero-section-container .hero-section .hero-text button {
    font-size: 1.2rem;
  }
  .products-section .products-parent .products-container .container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .products-section .products-parent .products-container .container .savings {
    margin-bottom: 8rem;
  }
}
@media screen and (max-width: 590px) {
  .main-section .hero-section-container .hero-section .hero-text h1 {
    font-size: 3.2rem;
  }
  .main-section .hero-section-container .hero-section .hero-text p {
    font-size: 1.5rem;
  }
  .main-section .hero-section-container .hero-section .hero-text button {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 512px) {
  .main-section .hero-section-container .hero-section .hero-text h1 {
    font-size: 3rem;
  }
  .main-section .hero-section-container .hero-section .hero-text h1 br {
    content: " ";
  }
  .main-section .hero-section-container .hero-section .hero-text h1 br:after {
    content: " ";
  }
  .main-section .hero-section-container .hero-section .hero-text p {
    font-size: 1.4rem;
  }
  .main-section .hero-section-container .hero-section .hero-text p br {
    content: " ";
  }
  .main-section .hero-section-container .hero-section .hero-text p br:after {
    content: " ";
  }
  .main-section .hero-section-container .hero-section .hero-text button {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .products-section .products-parent .products-container .container .loans, .products-section .products-parent .products-container .container .savings {
    width: 12rem;
    width: auto;
  }
}
@media screen and (max-width: 300px) {
  .achievement-section .achievement-container {
    width: 95%;
  }
  .achievement-section .achievement-container div {
    border-radius: 0.4rem;
    padding: 2rem;
    height: auto;
  }
}/*# sourceMappingURL=home.css.map */