@import url('../utils/headerFooter.css');


$web-color:#293df1;
$web-font1:"Satoshi", sans-serif;
$web-font2:"General Sans", sans-serif;
$bg-color:#d5fbfb;


//font weights 
$light:300;
$regular:400;
$medium:500;
$bold:700;
$black:900;




.page-content{
    opacity: 0;
}


.loans-section{
    // border: 2px solid red;
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    .loans-container{
        // border: 1px solid red;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .loans-parent{
            margin: 3rem ;
            padding: 2rem;
            // border: 2px solid blue;
            .image{

                img{
                    width: 100%;
                    object-fit: cover;
                }
            }

            h2{
                padding: 1rem 0;
                font-size: 2rem;
                font-weight: $bold;
                text-transform: capitalize;

            }

            p{
                padding: .5rem 0;
                font-size: 1.5rem;
                font-weight: $bold;
                
            }
        }
    }
}


//FOR LARGE SCREENS

@media screen  and(min-width:1500px) {
    .loans-section{
        .loans-container{
            width: 80%;
        }
    }
}
@media screen  and(min-width:1830px) {
    .loans-section{
        .loans-container{
            width: 75%;
        }
    }
}


@media screen and(max-width:1000px) {
    .loans-section{
        .loans-container{
            width: 100%;
        }
    }
}


@media screen and(max-width:900px) {
    .loans-section{
        .loans-container{
            width: 100%;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and(max-width:600px) {
    .loans-section{
        .loans-container{
            width: 100%;
            grid-template-columns: 1fr;

            .loans-parent{
                margin: 1rem;
            }
        }
    }
}