@charset "UTF-8";
@import url("../utils/headerFooter.css");
.page-content {
  opacity: 0;
}

.about-section {
  margin-top: 15vh;
  display: flex;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
  color: black;
}
.about-section .about-container {
  width: 90%;
}
.about-section .about-container h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 900;
  text-align: center;
  position: relative;
  color: #293df1;
}
.about-section .about-container h1::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  border-radius: 0.4rem;
  background-color: #293df1;
  display: block;
  left: 48%;
  right: 48%;
  bottom: -1rem;
}
.about-section .about-container .about-text-and-image {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section .about-container .about-text-and-image .about-us-info {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.about-section .about-container .about-text-and-image .about-us-info .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section .about-container .about-text-and-image .about-us-info .image img {
  height: 44rem;
  width: 54rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section .about-container .about-text-and-image .about-us-info .text {
  padding: 2rem;
}
.about-section .about-container .about-text-and-image .about-us-info .text p {
  font-weight: 700;
  font-size: 1.6rem;
  opacity: 0.9;
  padding: 2rem 1rem;
}
.about-section .about-container .mission-vision-values {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section .about-container .mission-vision-values .mission-vision-values-container {
  width: 95%;
  display: flex;
  flex-direction: row-reverse;
}
.about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container {
  padding: 2rem;
  border-right: 1px solid #293df1;
}
.about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container h2 {
  color: #293df1;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: capitalize;
  padding: 1rem 0;
}
.about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container h2 img {
  margin-right: 0.5rem;
  width: 3rem;
  margin-bottom: -0.5rem;
}
.about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container p {
  opacity: 0.9;
  font-weight: 700;
  font-size: 1.6rem;
  padding-bottom: 4rem;
}
.about-section .about-container .mission-vision-values .mission-vision-values-container .values-container {
  padding: 2rem;
  border-left: 1px solid #293df1;
  border-right: 1px solid #293df1;
}
.about-section .about-container .mission-vision-values .mission-vision-values-container .values-container h2 {
  color: #293df1;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: capitalize;
}
.about-section .about-container .mission-vision-values .mission-vision-values-container .values-container h2 img {
  margin-bottom: -0.5rem;
  width: 3rem;
  margin-right: 0.5rem;
}
.about-section .about-container .mission-vision-values .mission-vision-values-container .values-container p {
  font-weight: 700;
  font-size: 1.6rem;
  opacity: 0.9;
  padding: 2rem 0;
}
.about-section .about-container .mission-vision-values .mission-vision-values-container .values-container ul li {
  font-weight: 700;
  font-size: 1.5rem;
  opacity: 0.9;
  padding: 1rem 0;
  list-style: none;
}
.about-section .about-container .mission-vision-values .mission-vision-values-container .values-container ul li::before {
  content: "‣"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #293df1; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1rem; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

@media screen and (min-width: 1500px) {
  .about-section .about-container {
    width: 75%;
  }
}
@media screen and (min-width: 1830px) {
  .about-section .about-container {
    width: 55%;
  }
}
@media screen and (max-width: 1000px) {
  .about-section .about-container h1 {
    font-size: 2.8rem;
  }
  .about-section .about-container .about-text-and-image .about-us-info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-section .about-container .about-text-and-image .about-us-info .text {
    padding: 2rem;
  }
  .about-section .about-container .about-text-and-image .about-us-info .text p {
    font-size: 1.5rem;
  }
  .about-section .about-container .about-text-and-image .about-us-info .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container h2 {
    font-size: 2.4rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container p {
    font-size: 1.5rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .values-container h2 {
    font-size: 2.2rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .values-container P {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 800px) {
  .about-section .about-container h1 {
    font-size: 2.8rem;
  }
  .about-section .about-container .about-text-and-image {
    border-bottom: 1px solid #293df1;
  }
  .about-section .about-container .about-text-and-image .about-us-info {
    width: 100%;
  }
  .about-section .about-container .about-text-and-image .about-us-info .text {
    padding: 2rem;
  }
  .about-section .about-container .about-text-and-image .about-us-info .text p {
    font-size: 1.5rem;
  }
  .about-section .about-container .mission-vision-values {
    margin: unset;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container {
    display: flex;
    flex-wrap: wrap;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container {
    border: unset;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container h2 {
    font-size: 2.4rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container p {
    font-size: 1.5rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .values-container h2 {
    font-size: 2.2rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .values-container P {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 700px) {
  .about-section .about-container h1 {
    font-size: 2.4rem;
  }
  .about-section .about-container .about-text-and-image .about-us-info {
    width: 100%;
  }
  .about-section .about-container .about-text-and-image .about-us-info .text {
    padding: 2rem;
  }
  .about-section .about-container .about-text-and-image .about-us-info .text p {
    font-size: 1.4rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container h2 {
    font-size: 2.2rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container p {
    font-size: 1.4rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .values-container h2 {
    font-size: 2.2rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .values-container P {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 600px) {
  .about-section .about-container {
    width: 100%;
  }
  .about-section .about-container .about-text-and-image .about-us-info .text {
    padding: 2rem;
    border-bottom: 1px solid #293df1;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container {
    padding: 2rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container h2 {
    font-size: 2.2rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .mission-vision-container p {
    font-size: 1.4rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .values-container {
    padding: 2rem;
    border: unset;
    border-top: 1px solid #293df1;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .values-container h2 {
    font-size: 2.2rem;
  }
  .about-section .about-container .mission-vision-values .mission-vision-values-container .values-container P {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=about.css.map */