@charset "UTF-8";
@import url("../utils/headerFooter.css");
.page-content {
  opacity: 0;
}

.membership-section {
  position: relative;
  top: 20vh;
  width: 100%;
  margin-bottom: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.membership-section .membership-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.membership-section .membership-container .form-container {
  padding: 3rem 0;
  padding: 1rem;
}
.membership-section .membership-container .form-container h1 {
  color: #293df1;
  font-weight: 900;
  font-size: 2.2rem;
  text-transform: capitalize;
  text-align: center;
}
.membership-section .membership-container .form-container p {
  font-weight: 700;
  font-size: 1.6rem;
  opacity: 0.9;
  color: black;
  padding: 2rem 0;
  text-align: center;
}
.membership-section .membership-container .form-container #form {
  background-color: rgb(98, 98, 245);
  display: flex;
  background-color: #293df1;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
  border-radius: 0.3rem;
}
.membership-section .membership-container .form-container #form .info {
  padding: 1rem 3rem;
  width: 100%;
}
.membership-section .membership-container .form-container #form .info label {
  font-size: 1.6rem;
  opacity: 0.9;
  color: white;
  font-weight: 700;
}
.membership-section .membership-container .form-container #form .info input {
  text-transform: uppercase;
  padding: 1rem;
  font-weight: 700;
  border: none;
  color: black;
  width: 100%;
  font-size: 1.5rem;
  background-color: transparent;
  border-bottom: 1px solid white;
}
.membership-section .membership-container .form-container #form .info input:focus {
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}
.membership-section .membership-container .form-container #form .info select {
  background-color: white;
  color: black;
  font-weight: 700;
  padding: 1rem;
  opacity: 0.9;
  border-radius: 0.2rem;
}
.membership-section .membership-container .form-container #form .info option {
  font-weight: 700;
  opacity: 0.3;
}
.membership-section .membership-container .form-container #form .info button {
  background-color: #293df1;
  padding: 1.5rem 4rem;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: darkblue;
}
.membership-section .membership-container .requirements-container .requirements {
  padding: 3rem;
}
.membership-section .membership-container .requirements-container .requirements h1 {
  font-weight: 900;
  text-transform: capitalize;
  font-size: 2rem;
  color: blue;
  color: #293df1;
}
.membership-section .membership-container .requirements-container .requirements p {
  padding: 1rem 0;
  opacity: 0.9;
  font-weight: 700;
  font-size: 1.6rem;
  color: black;
}
.membership-section .membership-container .requirements-container .requirements h2 {
  padding-top: 2rem;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 2rem;
  color: #293df1;
}
.membership-section .membership-container .requirements-container .requirements ul li {
  list-style: none;
  font-size: 1.6rem;
  padding: 1rem 0;
  color: black;
  padding: 0.8rem 3rem;
  font-weight: 700;
  opacity: 0.9;
  opacity: 0.9;
}
.membership-section .membership-container .requirements-container .requirements ul li::before {
  content: "‣"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #293df1; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1rem; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

@media screen and (min-width: 1300px) {
  .membership-section .membership-container {
    width: 70%;
  }
}
@media screen and (min-width: 1530px) {
  .membership-section .membership-container {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .membership-section .membership-container {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .membership-section .membership-container .form-container {
    border: unset;
    padding-top: 5rem;
    border-top: 1px solid grey;
  }
}
@media screen and (max-width: 500px) {
  .membership-section .membership-container {
    width: 95%;
  }
  .membership-section .membership-container .requirements-container .requirements p {
    font-size: 1.4rem;
  }
  .membership-section .membership-container .requirements-container .requirements ul li {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=member.css.map */